.nav-item a {
    color: #54545a;
    transition: .5s ease-in-out;
}

body {
    height: 100%;
    background-image: linear-gradient(to bottom right,
            #a4ddd4,
            #f19d9d);
    background-attachment: fixed;
    /* background-color: thistle; */
}

.text-color {
    color: #54545a;
}

.bg-footer {
    background-color: transparent;
    color: #54545a;
}

.nav-item a:hover {
    color: #313137;
    font-weight: 400;
}

.navbar-brand {
    background: white;
}

.btn-outline-primary {
    border-width: 2px;
    --bs-btn-font-weight: 600;
    --bs-btn-color: #54545a;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #54545a;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: #54545a;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: #54545a;
    --bs-btn-focus-shadow-rgb: rgb(139, 112, 112);
    --bs-btn-active-color: #54545a;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: #54545a;
}

.btn-primary {

    border-width: 2px;
    --bs-btn-font-weight: 600;
    --bs-btn-color: #54545a;
    --bs-btn-bg: white;
    --bs-btn-border-color: white;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: #54545a;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: #54545a;
    --bs-btn-focus-shadow-rgb: #8b7070;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #54545a;
    --bs-btn-active-border-color: #54545a;
}

/* product search */


.text-white {
    color: white;
}

.bg-white {
    background-color: white;
}
